.navBar-tel {
    display: flex;
    background-color: red;
    border-radius: 26px;
    padding: 10px 9px 0px;
    color: #fff;
}

.dropdown-menu {
    top: 50%;
}

.nested-menu,
.nested-menu .dropdown-item:hover,
.nested-menu .dropdown-item:active {
    background-color: unset;
    cursor: pointer !important

}

.service-tab {
    background-color: #fff;
    color: black !important;
    border-radius: 7px;
    padding: 3px;
}

.service-tab>div {
    padding-top: 10px;
}

.service-tab>div:not(:last-child) {
    border-right: black solid 1px;
}

.service-tab>div>p {
    font-size: 14px;
    cursor: pointer;
}

.service-tab>div .active,
.service-tab>div :hover {
    background-color: black;
    color: white;
    border-radius: 7px;
}

.image-box-wrapper {
    display: flex;
    flex-direction: row;
    padding: 2% 2% 2% 2%;
    background-color: #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    align-items: flex-start;

}

.image-box-wrapper img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.image-box-wrapper p {
    font-weight: bold;
}

.success-patner-section {
    background-image: url('../assets/img/success-patner-bg.jpg');
}

.map-icon {
    margin-right: 8px;
    font-size: 30px;
}

.tel {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    cursor: pointer !important
}

.invalid-feedback {
    color: #fff !important;
}

@media (max-width: 992px) {
    .service-tab>div>p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .service-tab>div:not(:last-child) {
        border-right: none;
    }
}

footer {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/img/footer-bg.png');
}