 <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About us</h2>
            <h3 class="section-subheading text-muted">Asalat Al-Khafji offers
                facility management and skilled manpower services.</h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/img/about/about-us-logo.png"
                        class="img-fluid d-block mx-auto about-image"
                        alt="Image">
                </div>
                <div class="col-lg-6">
                    <p class="text-start p-3 text-dark shadow"><strong>Asalat
                            Al-Khafji</strong> provides <strong>integrated
                            facility
                            management services</strong> for residential,
                        commercial, and
                        industrial properties across the Kingdom. By leveraging
                        the latest
                        technologies and mechanisms, Asalat Al-Khafji
                        continuously
                        enhances and develops its services. Their
                        <strong>professional
                            team</strong> adheres to the highest standards,
                        ensuring that
                        customer expectations are met and that integrated
                        solutions for
                        facilities management are delivered. <br>In addition,
                        Asalat
                        Al-Khafji supplies <strong>skilled manpower</strong> to
                        the
                        construction, oil, and gas industries, covering
                        <strong>upstream,
                            midstream, and downstream projects and
                            operations</strong>.
                        Their highly qualified professionals and skilled workers
                        support a
                        diverse workforce, including Arabs, and Asians
                        (especially
                        Pakistani, Bangladeshi, Nepali, and Indian manpower).
                        <br>When
                        identifying manpower requirements, Asalat Al-Khafji
                        aligns with
                        customer needs, utilizing<strong> screening and matching
                            methods</strong> to recommend suitably qualified
                        personnel
                        promptly. They <br>collaborate with construction &amp;
                        oil and gas
                        companies, facilitating the advancement of their
                        operations with a
                        focus on productivity.
                        <br><strong>Dependability</strong> and the
                        suitability of skilled manpower supply are crucial for
                        operational
                        continuity. Asalat Al-Khafji stands as a reliable
                        partner,
                        ensuring timely responses to customer needs and
                        delivering
                        <strong>high-quality services.</strong> <br>Throughout
                        the period
                        of Asalat Al-Khafji’s involvement in customer
                        operations,
                        a<strong> full transfer of
                        </strong><br><strong>knowledge</strong>
                        occurs to the local staff, fostering sustainable growth
                        and
                        expertise.</p>
                </div>
            </div>
        </div>

    </div>
</section>